{% load humanize %}
<div class="col s12 m8 l6 xl4 offset-m2">
	<div class="server-card-wrapper">
		<div class="ad-card-wrapper">
    	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    	<script src="/static/js/adsbygoogle.js"></script>
    	<!-- In ad ads -->
    	<ins class="adsbygoogle"
      	style="display:inline-block;width:300px;height:210px"
      	data-ad-client="ca-pub-2430664004964374"
      	data-ad-slot="6832087183"></ins>
      	<script>
        	(adsbygoogle = window.adsbygoogle || []).push({});
      	</script>
  	</div>
	</div>
</div>
