{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.number > 1 %}
            <li class="waves-effect"><a href="?{% if request.GET.term %}term={{ request.GET.term }}{% endif %}&page=1" class="grey-text text-lighten-4">1</a></li>
        {% else %}
            <li class="disabled"><a href="#!">1</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
            <li class="waves-effect"><a href="?{% if request.GET.term %}term={{ request.GET.term }}{% endif %}&page={{ page_obj.previous_page_number }}" class="grey-text text-lighten-4"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% for page_num in paginator.page_range %}
            {% if page_obj.number == page_num %}
                <li class="active grey lighten-3"><a class="grey-text text-darken-4" href="#!">{{ page_num }}</a></li>
            {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
                <li class="waves-effect"><a href="?{% if request.GET.term %}term={{ request.GET.term }}{% endif %}&page={{ page_num }}" class="grey-text text-lighten-4">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="waves-effect"><a href="?{% if request.GET.term %}term={{ request.GET.term }}{% endif %}&page={{ page_obj.next_page_number }}" class="grey-text text-lighten-4"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
        {% if page_obj.number != paginator.num_pages %}
            <li class="waves-effect"><a href="?{% if request.GET.term %}term={{ request.GET.term }}{% endif %}&page={{ paginator.num_pages }}" class="grey-text text-lighten-4">{{ paginator.num_pages }}</a></li>
        {% else %}
            <li class="disabled"><a href="#!">{{ paginator.num_pages }}</a></li>
        {% endif %}
    </ul>
    
    
{% endif %}