{% extends "base.html" %}
{% load material_form humanize %}
{% block title %}
	{{ server.name }} | Update
{% endblock title %}
{% block content %}
	<h4 class="something">Server Information</h4>
	<div class="row grey lighten-3 grey-text text-darken-4">
		<div class="col s12 m6">
			<div class="input-field">
				<input value="{{ server.name }}" type="text" disabled="disabled">
				<label>Server Name</label>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input value="{{ server.member_count|intcomma }}" type="text" disabled="disabled">
					<label>Member Count</label>
				</div>
				<div class="input-field col s6">
					<input value="{{ server.emoji_count }}" type="text" disabled="disabled">
					<label>Emoji Count</label>
				</div>
			</div>
			{% if server.premium_1_until %}
				<div class="row">
					<div class="input-field col s6">
						<input value="1" type="text" disabled="disabled">
						<label>Premium Tier 1</label>
					</div>
					<div class="input-field col s6">
						<input value="{{ server.premium_1_until }}" type="text" disabled="disabled">
						<label>Until</label>
					</div>
				</div>
			{% endif %}
			{% if server.premium_2_until %}
				<div class="row">
					<div class="input-field col s6">
						<input value="2" type="text" disabled="disabled">
						<label>Premium Tier 2</label>
					</div>
					<div class="input-field col s6">
						<input value="{{ server.premium_2_until }}" type="text" disabled="disabled">
						<label>Until</label>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col s12 m6">
			<div class="" style="padding: 1rem 0;">
				<div class="center">
					<a class="tooltipped" data-tooltip="Return to Server Details" data-position="top" href="{% url 'server:detail' server.server_id %}"><img class="circle z-depth-3" src="{{ server.icon_128 }}"></a>
					<h5 class="name" style="margin:0;">{{ server.name }}</h3>
				</div>
			</div>
		</div>
	</div>
	<h4 class="something">Updatable Information</h4>
	<form method="POST" class="grey lighten-3 grey-text text-darken-2" style="padding: 1rem 0;">
		{% csrf_token %}
		{% form form=form %}
			{% attr form.short_description 'widget' data-length %}200{% endattr %}
			{% attr form.short_description 'widget' autocomplete %}off{% endattr %}
			{% attr form.description 'widget' data-length %}2000{% endattr %}
		{% endform %}
		<div class="center">
			<button class="btn-large waves-effect waves-light" type="submit">
			Update<i class="material-icons right">send</i>
			</button>
		</div>
	</form>
{% endblock content %}
{% block javascript %}
	<script>
		$(document).ready(function(){
			$('input#id_short_description, textarea#id_description').characterCounter();
		});
	</script>
{% endblock javascript %}