{% extends "base.html" %}
{% load humanize %}
{% block meta_description %}
	{% if tag == "Anime" %}
		Discover a list of the best Anime discord servers. Find Anime discord servers which are tagged with Anime and Manga. Active and friendly communities that bring together anime fans and gamers.
	{% elif tag == "Social" %}
		Check out our public social discord server list. Excellent social communities with thousands of users all around the world. Come, join servers and communicate with other members worldwide.
	{% elif tag == "Gaming" %}
		Browse a list of discord servers based around gaming and join great communities of all ages and different cultured people. These servers strive to provide members with a safe, supportive, and fun gaming environment.
	{% elif tag == "Global Emotes" %}
		Discover a list of the best Global Emote discord servers. Use Discord Emojis without Nitro through these servers.
	{% elif tag == "Memes" %}
		Discover a list of the best and Biggest Meme discord servers. Active and friendly communities that bring together the best memers.
	{% elif tag == "Music" %}
		Discover a list of the best Music discord servers. Find hundreds of discord servers which are tagged with Music and choose which ones you want to join.
	{% elif tag == "Community" %}
	Discover a list of the best Community discord servers. Find discord servers which are tagged with Community. These servers hold events, giveaways, and so much more.
	{% elif tag == "Economy" %}
	Discover a list of the best Economy discord servers. Find discord servers which are tagged with Economy. Join a servers market and have a good time.
	{% elif tag == "Technology" %}
		Discover a list of the best Technology discord servers. Find discord servers which are centered around different types of technology.
	{% elif tag == "Art" %}
		Discover a list of the best Art discord servers. Find an Art Community that you might want to join.
	{% elif tag == "Learning" %}
		Discover a list of the best Learning discord servers. Find discord servers which are tagged with Learning and discover new information.
	{% elif tag == "Support Server" %}
		Discover a list of the best Support discord servers. Find discord servers which are tagged with Support and get help about a topic.
	{% endif %}
{% endblock meta_description %}
{% block title %}
	{% if tag == "Anime" %}
		Find Anime Discord Servers - List of Anime Discord Servers
	{% elif tag == "Social" %}
		Social Discord Servers - Public Social Discord Server List
	{% elif tag == "Gaming" %}
		Gaming Discord Servers - Top Rated Discord Servers for Gaming
	{% elif tag == "Global Emotes" %}
		Top Global Emote Discord Servers
	{% elif tag == "Memes" %}
		Find Meme Discord Servers - List of Meme Discord Servers
	{% elif tag == "Music" %}
		Find Music Discord Servers - List of Music Discord Servers
	{% elif tag == "Community" %}
		Find Community Discord Servers - List of Community Discord Servers
	{% elif tag == "Economy" %}
		Best Economy Discord Servers - List of Economy Discord Servers
	{% elif tag == "Technology" %}
		Best Technology Discord Servers - List of Technology Discord Servers
	{% elif tag == "Art" %}
		Best Art Discord Servers - List of Art Discord Servers
	{% elif tag == "Learning" %}
		Best Learning Discord Servers - List of Learning Discord Servers
	{% elif tag == "Support Server" %}
		Best Support Discord Servers - List of Support Discord Servers
	{% endif %}
{% endblock title %}
{% block content %}
	<div id="server-list">
		{% if tag_does_not_exist %}
			<h4 class="center" style="margin-top:0;">Nothing found in tag <button class="btn grey darken-4 waves-effect waves-light">{{ tag }}</button> :(</h4>
			<div class="center">
				<h5>Available Tags:</h5>
				{% for tag in tags  %}
					<a href="{% url 'server:list_tag' tag.name %}" class="server-tag btn-small waves-effect waves-light grey darken-4 white-text">{{ tag.name }} {% if tag.material_icon %}<i class="material-icons left">{{ tag.material_icon }}</i>{% endif %}</a>
				{% empty %}
					<a href="#!" class="server-tag btn-small waves-effect waves-light grey darken-4 white-text">No tags created <i class="material-icons left">close</i></a>
				{% endfor %}
			</div>

			<h5 class="center" style="">Please see below some of the top servers!</h5>
		{% else %}
			<h1 style="margin: 0; font-size: 40px; padding: 25px 25px 0 25px;">{{ tag }} Discord Server List</h1>
		{% endif %}
		<div class="row" style="margin: 0 auto;">

			<p style="padding: 0 25px 0 30px" class="home-premium">If you want to be Featured here <a href="{% url 'premium:detail' %}">Buy Premium</a></p>

			{% for server in servers %}
				{% include 'includes/server_card.html' %}
			{% endfor %}
			<div class="col s12 center" style="padding: 0.25rem 0;">
				{% include 'includes/paginator_dark.html' %}
			</div>

		</div>
		<div class="center">
			<h5>Explore more Tags:</h5>
			{% for tag in tags  %}
				<a href="{% url 'server:list_tag' tag.name %}" class="server-tag btn-small waves-effect waves-light grey darken-4 white-text">{{ tag.name }} {% if tag.material_icon %}<i class="material-icons left">{{ tag.material_icon }}</i>{% endif %}</a>
			{% empty %}
				<a href="#!" class="server-tag btn-small waves-effect waves-light grey darken-4 white-text">No tags created <i class="material-icons left">close</i></a>
			{% endfor %}
		</div>

	</div>

{% endblock content %}
