{% extends "base.html" %}
{% load humanize %}
{% block meta_description %}
	A compiled list of the top 100 public discord servers. Find discord servers with your interest. Check out communities you're interested in and join to chat with other members.
{% endblock meta_description %}

{% block title %}
	Top 100 Public Discord Servers - List of the Biggest Discord Servers
{% endblock title %}

{% block content %}
	<div id="server-list">
		<h1 class="center" style="margin: 0 0 1rem 0; font-size: 40px">Top 100 Biggest Discord Servers</h1>
		<div class="row" style="margin-bottom: 0;">
			<div class="col s12 center" style="padding: 0.25rem 0;">
				{% include 'includes/paginator_dark.html' %}
			</div>
			{% for server in servers %}
				{% include 'includes/server_card.html' %}
			{% endfor %}
			<div class="col s12 center" style="padding: 0.25rem 0;">
				{% include 'includes/paginator_dark.html' %}
			</div>
		</div>


	</div>

{% endblock content %}
