{% extends "base.html" %}
{% load humanize %}
{% block meta_description %}
	The top one hundred discord servers. This page lists the biggest servers on the platform by member count.
{% endblock meta_description %}

{% block title %}
	Top 100 Public Discord Servers - List of the Biggest Discord Servers
{% endblock title %}

{% block content %}
	<div id="server-list">
		<h4 class="center" style="margin: 0 0 1rem 0;"><strong>TOP 100 SERVER BY MEMBERS</strong></h4>
		<div class="row" style="margin-bottom: 0;">
			<div class="col s12 center" style="padding: 0.25rem 0;">
				{% include 'includes/paginator_dark.html' %}
			</div>
			{% for server in servers %}
				{% include 'includes/server_card.html' %}
			{% endfor %}
			<div class="col s12 center" style="padding: 0.25rem 0;">
				{% include 'includes/paginator_dark.html' %}
			</div>
		</div>


	</div>

{% endblock content %}
