{% extends "base.html" %}
{% load humanize %}
{% block meta_description %}
	We provide a compiled list of the top 100 public discord servers. Find public discord servers by your interest and join for free. Check out communities you're interested in and join to chat with other members.
{% endblock meta_description %}

{% block title %}
	Top Servers
	{% if request.GET.page %}
		| Page  {{ request.GET.page }}
	{% endif %}
{% endblock title %}

{% block content %}
	<head>
	<meta name="title" content="{% block meta_title %}Top 100 Public Discord Servers - List of the Biggest Discord Servers{% endblock meta_title %}">
	<meta name ="description" content="{% block meta_description %}We provide a compiled list of the top 100 public discord servers. Find public discord servers by your interest and join for free. Check out communities you're interested in and join to chat with other members.{% endblock meta_description %}">
	</head>
	<div id="server-list">
		<h1 class="center" style="margin: 0 0 1rem 0;"><strong>Top 100 Discord Servers by Members</strong></h1>
		<div class="row" style="margin-bottom: 0;">
			<div class="col s12 center" style="padding: 0.25rem 0;">
				{% include 'includes/paginator_dark.html' %}
			</div>
			{% for server in servers %}
				{% include 'includes/server_card.html' %}
			{% endfor %}
			<div class="col s12 center" style="padding: 0.25rem 0;">
				{% include 'includes/paginator_dark.html' %}
			</div>
		</div>


	</div>

{% endblock content %}
