{% extends "base.html" %}
{% load humanize static %}
{% block meta_description %}
Add your discord server to our massive server list. Easily gain discord server members for free.
{% endblock meta_description %}
{% block title %}
	Add Your Server to our Discord Server List
{% endblock title %}
{% block content %}
	<div class="grey darken-2 row" style="padding: 1rem 0;">
		<div class="col s12 m4">
			<div class="center">
				<img class="circle z-depth-3" src="{{ request.user.avatar_url }}">
				<h5 class="name" style="margin:0;">{{ request.user.get_name_tag }}</h5>
			</div>
		</div>
		<div class="col s12 m8">
			<h5>How to add a Server</h5>
			<div id="guide">
				<div id="long">
					<ul>
						<li>• <a href="{{ bot_invite_link }}" target="_blank" class="teal-text text-lighten-2"><strong>CLICK HERE</strong></a> to add our bot to your server.</li>
						<li>• <strong>The bot will then help you get information such as your server name, member count, emoji count, emoji icons</strong>. This information will <strong>update automatically</strong> and you will not have to put any of it in by yourself.</li>
						<li>• <strong>Refresh this page</strong> to see your server listing. It’s that simple!</li>
						<li>• <strong>Provide a short description, long description, a PERMANENT invite link, check the Shown box to make your server public</strong>.</li>
						<li>DONE!</li>
					</ul>
				</div>
				<div id="short" style="display: none;">
					<ul>
						<li>• <a href="{{ bot_invite_link }}" target="_blank" class="teal-text text-lighten-2"><strong>CLICK HERE</strong></a> to add our bot to your server.</li>
						<li>• <strong>Refresh this page</strong> to see the server.</li>
						<li>• <strong>Provide a short description, long description, a PERMANENT invite link, check the Shown box to make your server public</strong>.</li>
					</ul>
				</div>
			</div>
			<span id="guide-toggle" class="btn waves-effect waves-light indigo">Too long, short version please</span>


		</div>

	</div>
	<div id="server-list">
		<div class="row">
			{% for server in servers %}
				{% include 'includes/server_card.html' %}
			{% empty %}
				<div class="center"><h4>You don't have any servers. Please follow the instruction above to add one.</h4></div>
			{% endfor %}
		</div>
	</div>
	{% if servers.exists %}
		<div class="center">
			{% include 'includes/paginator.html' %}
		</div>
	{% endif %}

{% endblock content %}
{% block javascript %}
	<script src="{% static 'js/csrf_token_retriever.js' %}"></script>
	<script>
		$("#guide-toggle").on('click', function(e){
			text = $(this).text();
			if (text == 'Too long, short version please') {
				$(this).text('Give me long version');
			} else {
				$(this).text('Too long, short version please')
			}
			$("#guide #long").toggle();
			$("#guide #short").toggle();
		})

		$(".bumper").on('click', function(e){
			var sid = $(this).data('sid');
			var bumper = $(this);
			var notification = $(this).parents('.card-content').find('.bump_notification')[0];
			// console.log(notification)
			$.ajax({
				type: "POST",
				data: {'sid': sid},
				success: function(response){
					bumper.remove();
					if (response.success) {
						$(notification).fadeIn();
						$(notification).html(response.success);
						$(notification).delay(3000);
						$(notification).fadeOut();
					} else if (response.error) {
						$(notification).fadeIn();
						$(notification).html(response.error);
						$(notification).delay(3000);
						$(notification).fadeOut();
					}

				},
			})
		})
	</script>
{% endblock javascript %}
