{% extends 'base.html' %}
{% load humanize %}
{% block content %}

	<div class="" style="">
		<h5>Search for a Discord Server</h5>
		<nav>
			<div class="nav-wrapper">
				<form method="get" action="{% url 'server:search' %}">
					<div class="input-field grey darken-4">
						<input class="grey-text text-darken" id="search" type="search" name="term" autocomplete="off" value="{% if request.GET.term %}{{ request.GET.term }}{% endif %}">
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
		</nav>
		<h6>Or select a Tag of your interest</h6>
		{% for tag in tags  %}
			<a href="{% url 'server:list_tag' tag.name %}" class="server-tag btn-small waves-effect waves-light grey darken-4 white-text">{{ tag.name }} {% if tag.material_icon %}<i class="material-icons left">{{ tag.material_icon }}</i>{% endif %}</a>
			{% empty %}
			<a href="#!" class="server-tag btn-small waves-effect waves-light grey darken-4 white-text">No tags created <i class="material-icons left">close</i></a>
		{% endfor %}
	</div>
	<div id="server-list">
		<h4 class="center" style="margin-bottom: 1rem;"><strong>FEATURED PREMIUM SERVERS</strong></h4>
		<p class="center home-premium">If you want to be Featured here <a href="{% url 'premium:detail' %}">Buy Premium</a></p>
		<div class="row">
			{% for server in servers %}
				{% include 'includes/server_card.html' %}
			{% endfor %}
		</div>
	</div>
    <div class="center bottom-partner-link">
        <a href="{% url 'partners:partners_list' %}" class="btn-small waves-effect waves-light indigo center">PARTNERS</a>
    </div>

{% endblock content %}
