{% extends "base.html" %}
{% block meta_description %}
Enter into Parners. Join a few discord servers for a chance to win money!
{% endblock meta_description %}
{% block title %}
	About Us
{% endblock title %}
{% block content %}
    <div id="partners">
        <h4 class="center">PARTNERS</h4>
        <div class="row">
            {% for ps in about_infos %}
            <div class="col s12 m8 l6 xl4 offset-m2">
                <div class="single-partner hoverable">
                    <div class="partner-des">
                        <p class="partner-description">{{ ps.description|safe }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="center">Now is testing for Partners</div>
            {% endfor %}
            <div class="col s12">
                <div class="single-partner hoverable">

                </div>

            </div>
        </div>
    </div>
{% endblock content %}