{% extends "base.html" %}
{% load material_form %}
{% block title %}
	Change Password
{% endblock title %}
{% block content %}
	<div class="row" style="padding: 1rem 0;">
		
		<div class="col s12 m6 offset-m3 l4 offset-l4 grey lighten-3 grey-text text-darken-2 ">
			<h4><strong>Change Password</strong></h4>
			<form method="post">
				{% csrf_token %}
				{% form form=form %}
				{% endform %}
				<div class="right">
			<button class="btn waves-effect waves-light" type="submit" style="margin-bottom: 1rem;">
			Confirm<i class="material-icons right">send</i>
			</button>
		</div>
			</form>
		</div>
	</div>
	
{% endblock content %}