{% extends "base.html" %}
{% block meta_description %}
Enter into Parners. Join a few discord servers for a chance to win money!
{% endblock meta_description %}
{% block title %}
	Partners
{% endblock title %}
{% block content %}
	<div class="row">
		<div class="col s12 grey lighten-2 grey-text text-darken-4" style="padding: 0 1rem;">
			<h4 class="center">Partners</h4>
			{% for ps in partners_infos %}
				<div class="card-panel">{{ ps.description|safe }}</div>
			{% empty %}
				<div class="center">Now is testing for Partners</div>
			{% endfor %}
			
		</div>
		
</div>
{% endblock content %}