{% extends "base.html" %}
{% block meta_description %}
Support this website by buying our Premium. This will display you in front of thousands of people. Make your discord server grow quickly and easily.
{% endblock meta_description %}
{% block title %}
	Get Discord Server Members - Discord Marketing for a Cheap Price
{% endblock title %}
{% block stylesheet %}
	<style>
		.material-tooltip {
			max-width: 300px;
		}

		.tier-card-basic {
			border: #616161 solid 3px;
		}

		.tier-card-premium-1 {
			border: #aa00ff solid 3px;
		}

		.tier-card-premium-1 i {
			color: #aa00ff;
		}

		.tier-card-premium-2 {
			border: 2px solid #F6CD00;
		}

		.tier-card-premium-2 i {
			color: #F6CD00;
		}

		.card-content {
			min-height: 235px;
			border-radius: 0 !important;
		}

		.card-content h4 {
			margin-top: 0;
		}

		.card-action {
			border-radius: 0 !important;
		}

		.card-action h4 {
			margin: 0;
		}
	</style>
{% endblock stylesheet %}

{% block content %}

	<div>
		<!---<h1 class="center" style="margin: 1rem auto; font-size: 40px">Grow your Discord Server</h1>
		<h6 class="center">We help server owners get hundreds of active members at a lower price than any other discord server list</h6>-->
		<h4><strong>Tier Comparison</strong></h4>

		<div class="row">
			<!--<div class="col s12 center" style="margin-bottom: 10px;">Hover or tap on a perk to get More information.</div>-->
			<div class="col s12 m8 offset-m2 l4">
				<div class="tier-card-basic premium-card hoverable">
					<div class="card-content server-card-highlight-4">
						<h4 class="premium-card-title"><strong>Basic</strong></h4>
						<p class="premium-card-point-1">Here's what you get:</p>
						<ul class="premium-card-list">
							{% for feature in tier0_features %}
								<li>
									<i class="material-icons mr5px">check_box</i>
									<span style="position: absolute;" class="tooltipped" data-position="top" data-tooltip="{{ feature.description }}">{{ feature.short_description }}</span>
								</li>
							{% endfor %}
						</ul>
						<p class="premium-card-point-1">Here's what you don't get:</p>
						<uL class="premium-card-list">
							<li>
								<i class="material-icons mr5px">check_box_outline_blank</i>
								<span style="position: absolute;" class="tooltipped" data-position="top">A Server Highlight</span>
							</li>
							<li>
								<i class="material-icons mr5px">check_box_outline_blank</i>
								<span style="position: absolute;" class="tooltipped" data-position="top">Featured on all server listings</span>
							</li>
						</uL>
						<a href="#!">
							<div class="card-action grey darken-2 grey-text text-lighten-3">
								<h4 class="center"><strong>STAY BASIC</strong></h4>
							</div>
						</a>
					</div>

				</div>
			</div>
			<div class="col s12 m8 offset-m2 l4">
				<div class="tier-card-premium-1 premium-card hoverable">
					<div class="card-content server-card-highlight-2">
						<h4 class="premium-card-title"><strong>Premium Tier 1</strong></h4>
						<p class="premium-card-point-2">Here's what you get:</p>
						<ul class="premium-card-list">
							{% for feature in tier1_features %}
								<li>
									<i class="material-icons mr5px">check_box</i>
									<span style="position: absolute;" class="tooltipped" data-position="top" data-tooltip="{{ feature.description }}">{{ feature.short_description }}</span>
								</li>
							{% endfor %}
						</ul>
						<p class="premium-card-point-2">Here's what you don't get:</p>
						<uL class="premium-card-list">
							<li>
								<i class="material-icons mr5px">check_box_outline_blank</i>
								<span style="position: absolute;" class="tooltipped" data-position="top">Featured Less</span>
							</li>
							<li>
								<i class="material-icons mr5px">check_box_outline_blank</i>
								<span style="position: absolute;" class="tooltipped" data-position="top">No Red Highlight Option</span>
							</li>
						</uL>
						<a href="{% url 'premium:payment' %}">
							<div class="card-action purple accent-4 grey-text text-lighten-3">
								<h4 class="center"><strong>BUY FOR $9.99/mo</strong></h4>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col s12 m8 offset-m2 l4">
				<div class="tier-card-premium-2 premium-card hoverable">
					<div class="card-content server-card-highlight-1">
						<h4 class="premium-card-title"><strong>Premium Tier 2</strong></h4>
						<p class="premium-card-point-3">Here's what you get:</p>
						<ul class="premium-card-list">
							{% for feature in tier2_features %}
								<li>
									<i class="material-icons mr5px">check_box</i>
									<span style="position: absolute;" class="tooltipped" data-position="top" data-tooltip="{{ feature.description }}">{{ feature.short_description }}</span>
								</li>
							{% endfor %}
						</ul>
						<div style="height: 127.5px;"></div>
						<a href="{% url 'premium:payment' %}">
							<div class="card-action yellow accent-4 grey-text text-lighten-3">
								<h4 class="center"><strong>BUY FOR $14.99/mo</strong></h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="center">
			{# <button class="btn-large indigo waves-effect waves-light modal-trigger" data-target="modal-video"> #}
			{# Watch Premium Explanation Video #}
			{# <i class="material-icons right">play_circle_filled</i> #}
			{# </button> #}
			<div id="modal-video" class="modal">
				<div class="modal-content">
					<div class="video-container">
						<iframe class="youtube-video" src="{{ premium_explanation_video }}" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
			</div>
		</div>

	</div>

{% endblock content %}
{% block javascript %}
	<script>
		$(document).ready(function(){
			$('.modal').modal({
				'onCloseStart': function(){
					$('.youtube-video').each(function(index) {
						$(this).attr('src', $(this).attr('src'));
						return false;
					});
				},
				'dismissible': false,
			});
		});
	</script>
{% endblock javascript %}
